<p>
  <strong>Order:</strong>
  <%= @order.name %>
</p>
 
<p>
  <strong>Dosage:</strong>
  <%= @order.dosage %>
</p>

<p>
  <strong>First Dose Priority:</strong>
  <%= @order.timestamp %>
</p>