<p>
  <div id="patient_name" style="display:none;" > <%= @patient.name %> </div>
</p>
 
<p>
  <div id="dateofbirth" style="display:none;"> <%= @patient.dob %> </div>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @patient.allergies %>
</p>